$dark: #3e3957;

$gray_dark: #e1e2e6;
$gray: #f4f5f7;
$gray_light: #f6f6f6;

$success: #5ec09c;
$success_light: #e1f4f0;

$danger: #e84c93;
$danger_light: #fae7f4;

$primary: #365ef5;
$primary_light: #e4ebfd;

$warning: #e4cf68;
$warning_light: #f9f7e8;


