@import "../../var";
#popup {
  width: 100%;
  height: 100vh;
  background: rgba(gray, .5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  transition: .3s opacity, visibility .3s;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.popup {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid $gray-dark;
  max-width: 800px;
  margin: 5% auto;
  background: $gray-light;
  position: relative;
  box-sizing: border-box;
  z-index: 1010;
  input {
    border: 2px solid $gray_dark;
    border-radius: 10px;
    width: 250px;
    margin: 30px;
    color: $dark;
    font-size: 24px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    overflow: visible;
    &:focus {
      outline: none;
    };
    &#task-start-date::before {
      display: block;
      content: 'Start date';
      position: absolute;
      top: -30px;
      color: lightgray;
    };
    &#task-end-date::before {
      display: block;
      content: 'End date';
      position: absolute;
      top: -30px;
      color: lightgray;
    }
  }
}