@import "../../var";

.calendar {
  padding: 10px;
  color: $dark;
  width: 1260px;
  box-sizing: border-box;
}

.calendar-box {
  margin-top: 20px;
}

.calendar-days {
  background: $dark;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: $gray;
  span {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    &:nth-child(n) {
      border-right: 2px solid gray;
    }
    &:last-child {
      border: 0;
    }
  }
}

.calendar-nums {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  div {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    padding: 30px;
    height: 100px;
    position: relative;
    z-index: 2;
    &:nth-child(7n-6) {
      border-left: 2px solid gray;
    }
  }
  .day-num {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: gray;
    transition: .3s;
  }
  .not-this-month {
    background: $gray_dark;
  }
  .this-month {
    cursor: pointer;
    transition: .3s;
    &.active {
      background: lightgray;
      .day-num {
        color: $dark;
      }
    }
    &:hover {
      background: lightgray;
    }
  }
}